{% extends "registration/registration_base.html" %}
{% load static %}

{% block title %}
  Калькулятор КП | 
{% endblock %}

{% block css %}
    <link href="{% static 'brevet/css/calc.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form>
        <h1 class="mb-3 h3 fw-normal" id="header">
            Калькулятор КП
        </h1>
        
        <div class="form-floating">
            <input type="number" class="form-control joined_field_upper" id="distance" placeholder="_" value = "200">
            <label for="distance" id="distance-label">Дистанция, км</label>
        </div>
        <div class="form-floating">
            <input type="time"  class="form-control joined_field_lower" id ="start" placeholder="_" value="07:00:00">
            <label for="start" id="start-label">Старт</label>
        </div>

        <div class="form-floating">
            <input type="number" class="form-control joined_field_upper" id="elevation" placeholder="_" hidden>
            <label for="elevation" id="elevation-label">Набор высоты, м</label>
        </div>
        <div class="form-floating">
            <input type="text"  class="form-control joined_field_lower" id ="extended-limit" placeholder="_" hidden disabled>
            <label for="elevation-limit" id="extended-limit-label">Расширение лимита</label>
        </div>

        <div id="insertionPoint"></div>

        <div class="form-twin">
            <div class="form-floating">
                <input type="number" class="form-control joined_field_upper_left" id="distance-finish" placeholder="_" disabled>
                <label for="distance-finish" id="distance-finish-label">Финиш, км</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control joined_field_upper_right" id="distance-finish-delta" placeholder="_" disabled>
                <label class="label-twin-right" for="distance-finish-delta" id="distance-finish-delta-label"></label>
            </div>
        </div>
        <div class="form-floating">
            <input type="text"  class="form-control joined_field_lower" id ="finish" placeholder="_" disabled>
            <label for="finish" id="finish-label">Время</label>
        </div>
    </form>

    <div class="dropdown">
        <button class="w-100 btn btn-primary btn-lg dropdown-toggle dropdown-calc" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="method">
        </button>
        <ul class="w-100 dropdown-menu" id ="method-list">
        </ul>
    </div>

    <p id="calc-source">
    </p>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="lang-selector" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'brevet/svg/flag_ru.svg' %}"></img>
        </button>
        <ul class="dropdown-menu" id="lang-container">
        </ul>
    </div>

    
    <script src="{% static 'brevet/js/calc_translation.js' %}"></script>
    <script src="{% static 'brevet/js/calc.js' %}"></script>

{% endblock %}