{% extends "base.html" %}
{% load static %}

{% block title %}
FAQ | 
{% endblock %}

{% block cover %}
    Часто задаваемые вопросы
{% endblock %}

{% block content %}
<h2 class="h4 m-3">
    Что нужно, чтобы принять участие в бревете?
</h2>
<ul>
    <li>
        Подготовиться физически. 
    </li>
    <li>
        Освежить знание <a href="http://www.consultant.ru/document/cons_doc_LAW_2709/824c911000b3626674abf3ad6e38a6f04b8a7428/">ПДД</a>. Ознакомиться с правилами <a href="http://www.russianrandonneur.ru/pravila-brm/">BRM</a>.
    </li>
    <li>
        Выбрать подходящую дату в <a href="{% url 'event_index' %}">календаре</a>.
    </li>
    <li>
        Зарегистрироваться. Для этого нужно <a href="{% url 'signup' %}">создать аккаунт</a>, подтвердить адрес электронной почты, <a href="{% url 'login' %}">войти на сайт</a>, после чего нажать на кнопку "Я еду" на странице бревета в календаре. В процессе регистрации вас попросят указать номер телефона - это нужно, чтобы у организатора была возможность с вами связаться. Никто кроме организатора этот номер не увидит, звонков с рекламой 100% не будет. 
    </li>
    <li>
        Приехать на место старта заранее, минут за 10-15, сдать стартовый взнос, получить дорожную карточку - и вперёд!
    </li>
</ul>

<h2 class="h4 m-3">
    Где следить за новостями?
</h2>
<ul>
    <li>В нашей <a href="https://vk.com/omsk_randonneurs">группе vk</a>.</li>
    <li>В нашем <a href="https://t.me/+7PGlKTuPRxhjMDIy">чате Telegram</a>.</li>
    <!-- <li>В разделе <a href="https://omskvelo.ru/forum/54/%D0%B1%D1%80%D0%B5%D0%B2%D0%B5%D1%82%D1%8B-%D0%BC%D0%B0%D1%80%D0%B0%D1%84%D0%BE%D0%BD%D1%8B/">"Бреветы, марафоны"</a> на омском велофоруме.</li> -->
</ul>



<h2 class="h4 m-3">
    Какие существуют дистанции и нормативы?
</h2>
<ul>
    <li>
        200 км, контрольное время 13 ч 30 мин.
    </li>
    <li>
        300 км, контрольное время 20 ч.
    </li>
    <li>
        400 км, контрольное время 27 ч.
    </li>
    <li>
        600 км, контрольное время 40 ч.
    </li>
    <li>
        1000 км, контрольное время 80 ч.
    </li>
</ul>



<h2 class="h4 m-3">
    Как проехать в зачёт?
</h2>
<p>
    Чтобы проехать в зачёт, вам необходимо отметиться в каждом из контрольных пунктов маршрута в отведённое время.   
</p>



<h2 class="h4 m-3">
    Как отметиться на контрольном пункте?
</h2>
<p>
    На старте бревета вы получите карточку, в которой перечислены контрольные пункты с указанием времени открытия и закрытия. Контрольный пункт (КП) обыкновенно назначают вблизи торговых точек. За городом это заправки, придорожные кафе, сельские магазины. Чтобы отметиться, достаточно попросить продавца поставить в карточке в поле справа от описания КП текущее время и подпись и/или печать. Будьте вежливы и доброжелательны, расскажите, что едете с товарищами веломарафон. Если не получится наладить контакт - купите что-нибудь и сохраните чек. 
</p>
<p>
    Должно получиться примерно так:
</p>
<table class="m-3">
    <tbody>
        <tr>
            <td style="width: 14rem; border: 1px solid grey">
                <p class="m-2">1) км <u>100</u></p>
                <p class="m-2">c. Иртыш,</p>
                <p class="m-2">АЗС "Сибгазнефтепродукт"</p>
                <p class="m-2"><u>09</u> ч <u>56</u> м <u>13</u> ч <u>40</u> м</p>
            </td>
            <td style="width: 14rem; border: 1px solid grey">
                <p class="text-center">13:00</p>
                <p class="text-center">(подпись)</p> 
            </td>
        </tr>
    </tbody>
</table>
<p>
    Если организатор бревета сам в числе участников - попросите его поставить вам отметку. 
</p>
<p>
    Если КП закрыто, допускается отметиться в подобной точке в ближайшей округе - соседнем магазине, киоске, банкомате и т.д. В крайнем случае просто сделайте селфи на фоне КП и езжайте дальше.
</p>



<h2 class="h4 m-3">
    Что делать после финиша?
</h2>
<p>
    Поздравляем, теперь вы можете называть себя "рандоннёр"! Еще перед стартом на <a href="{% url 'index'%}">главной</a> странице сайта и на странице события появится форма "Сообщить результат". Введите время последней отметки в часах и минутах в окно, отметьте галочку "Хочу медаль", если хотите заказать медаль и нажмите "Подтвердить". Сделать это нужно максимально оперативно, пока за вами не выехал поисково-спасательный отряд :) 
</p>
<p>
    Информация о вашем результате и результатах остальных участников бревета будет отображаться в графе "Кто едет?". После проверки результатов организатором будет сформирован протокол бревета. Протокол отправляется на омологацию во Францию, где каждому результату присваивается уникальный номер. Все протоколы с момента основания клуба можно посмотреть и скачать <a href="{% url 'protocol_index'%}">здесь</a>.
</p>



<h2 class="h4 m-3">
    Хочу медаль!
</h2>
<p>
    Каждый участник, проехавший в зачёт, имеет возможность заказать памятную медаль из Франции. Для этого, сообщая о результате бревета, поставьте галочку "Хочу медаль". Организатор свяжется с вами по вопросу оплаты. Так как оплата медалей производится вместе с отправкой протокола, заказать медаль пост-фактум не получится.  
</p>
<p>
    Когда организатор получит медали за сезон (обычно это происходит зимой), он назначит дату и место вручения медалей. Обычно мы собираемся в кафе, награждаем отличившихся, обсуждаем прошедший сезон и строим планы на будущий.
</p>



<h2 class="h4 m-3">
    Что взять с собой на бревет 200 км?
</h2>
<ul>
    <li>
        Полностью исправный велосипед. <i>Не рекомендуется перед началом бревета менять посадку (передвигать руль, седло), комплектующие, тем более - велосипед целиком.</i>
    </li>
    <li>
        Полностью заряженный мобильный телефон.
    </li>
    <li>
        Наличные деньги на случай возможной эвакуации.
    </li>
    <li>
        Набор для ремонта велосипеда: насос, запасная камера, монтажки, аптечка для камер, набор шестигранников. Хорошей идеей будет взять с собой в небольшом количестве стяжки и изоленту. <i>Аптечка для камер не отменяет необходимости в наличии запасной камеры. Запасная камера обязательно должна быть новой - старые латаные запаски имеют свойство подводить в самый неподходящий момент. Ремнабор обязательно должен быть у каждого свой, рассчитывать на других участников нельзя - их может не оказаться рядом.</i>
    </li>
    <li>
        Питьевая вода 1-2 л. В дополнение к чистой питьевой воде допускается взять с собой 1 флягу изотоника. Полностью заменять чистую воду изотоником не рекомендуется.
    </li>
    <li>
        Еда по вкусу. Традиционно на бреветы берут бананы, сухофрукты, орехи, батончики (гематоген, шоколадные, ореховые, мюсли), жевательный мармелад (например, Haribo). Пример раскладки на 200 км для небыстрого участника: 2 банана, 100 г жевательного мармелада, 1 сникерс, 3 разных батончика мюсли, 2 гематогена. Имейте в виду, что в тёплую погоду шоколад и бананы быстро превращаются в кашу. Не стоит зацикливаться на одном и том же продукте. Если на маршруте есть кафе, хорошей идеей будет полноценно пообедать, при этом еду лучше всё равно иметь с собой (кафе по разным причинам могут не работать). 
    </li>
</ul>



<h2 class="h4 m-3">Что взять с собой на бревет 300, 400, 600 км?</h2>
<ul>
    <li>
        Всё то же самое, что и на бревет 200 км. 
    </li>
    <li>
        Свет. Дистанции 300 и более км предполагают движение участников по дорогам общего пользования в тёмное время суток. Иметь передний и задний свет обязательно. Желательно надеть светоотражающий жилет. <i>Катафоты и светоотражательные элементы одежды приветствуются, но не являются заменителями фонарей. Организатор оставляет за собой право не регистрировать бреветы участников, приехавших на старт бревета 300 и более км без переднего и заднего света.</i> 
    </li>
    <li>
        Пауэрбанк. Если заряда ваших приборов - телефона, велокомпьютера, фонарей - не хватает на всю дистанцию, позаботьтесь о запасном источнике энергии. И не забудьте провод для зарядки.
    </li>
    <li>
        Дополнительную верхнюю одежду. Вечером/ночью будет прохладно.
    </li>

</ul>


<h2 class="h4 m-3">
    А если мне станет плохо на дистанции?
</h2>
<p>
    Каждый участник сам в ответе за своё здоровье и должен рассчитывать только на собственные силы. Тем не менее, если кому-то из участников стало нехорошо, другие участники обязаны остановиться и помочь. К сожалению, у клуба нет возможности централизованно обеспечить сопровождение на случай возможных проблем, тем более что даже на дистанции 200 км последние участники могут двигаться с отставанием от лидера <a href="{% url 'protocol' 463%}">на 6 и более часов</a>. 
</p>    
<p>
    Если вам необходима медицинская помощь, вызывайте скорую помощь по телефону 112. Сориентируйтесь в пространстве, чтобы чётко объяснить оператору, где вы находитесь, после чего найдите безопасное место в тени (остановка, перелесок), сообщите о произошедшем организатору и ожидайте бригаду. Если вам не нужна медицинская помощь, но вы не можете продолжать заезд, сообщите об этом организатору и эвакуируйтесь. Имеет смысл заранее продумать способы эвакуации с маршрута - узнать, как ходят автобусы, электрички, в крайнем случае - позвоните родственникам с автомобилем или вызывайте такси.
</p>
<p>
    Разумеется, лучше всего предотвратить возможные проблемы:
</p>
<ul>
    <li>
        Тщательно подготовьтесь к бревету физически. Преодолейте хотя бы половину заявленной дистанции за одну поездку несколько раз перед началом бревета, чтобы не было неожиданностей на дистанции.
    </li>
    <li>
        Изучите прогноз погоды и подготовьтесь к условиям поездки заранее. В ясный летний день обязательно нанесите на кожу крем от загара, даже если вы не боитесь обгореть или родом из Эфиопии. Тепловой удар - одна из основных причин схода даже у опытных марафонцев. 
    </li>
    <li>
        Помните, что бревет не является спортивным соревнованием. Медали за первое и последнее место одинаковые, а в протоколе участники перечисляются в алфавитном порядке. Ехать на пределе собственных возможностей, гоняться с другими участниками совершенно бессмысленно. Чтобы стабильно двигаться и не перегружаться, купите пульсометр или фитнес-браслет и поддерживайте частоту сердечных сокращений (ЧСС) в диапазоне 60-70% от максимальной.
    </li>
</ul>


<h2 class="h4 m-3">
    Что делать, если стало плохо другому участнику?
</h2>
<p>
    Если во время бревета нанесён вред здоровью, или кому-то стало плохо, немедленно вызывайте скорую помощь по телефону 112. Сориентируйтесь в пространстве, чтобы чётко объяснить оператору, где вы находитесь. Перенесите пострадавшего в тень, при необходимости окажите первую помощь. После этого необходимо позвонить организатору и сообщить о произошедшем. 
</p>


<h2 class="h4 m-3">
    Как сойти с дистанции?
</h2>
<p>
    Если вы переоценили свои силы и решили сойти, сообщите об этом организатору и эвакуируйтесь. Имеет смысл заранее изучить способы эвакуации с маршрута - узнать, как ходят автобусы, электрички, в крайнем случае - позвоните родственникам с автомобилем или вызывайте такси.
</p>


<h2 class="h4 m-3">Я приехал на старт поздно, все уже уехали. Что делать? </h2>
<p>
    Зафиксировать время старта и ехать. При этом попытки догнать других участников даже при отставании в 15-20 минут вряд ли увенчаются успехом, лучше не торопиться и с самого начала распределять свои силы. Если маршрут лучевой (туда-обратно), ближе к развороту вы встретите организатора или человека, которому тот передал вашу карточку. Пока карточки нет - записывайте страву, собирайте чеки с магазинов/заправок по пути следования. 
</p>



<h2 class="h4 m-3">Можно ли проехать бревет по другому маршруту?</h2>
<p>
    Маршруты бреветов составляются организатором и согласуются с представителем Audax Club Parisien в России. Выбор альтернативного маршрута считается грубым нарушением правил. Никто не мешает вам испытать свои силы на любой дистанции и по любому маршруту самостоятельно, без составления протокола. Но есть и исключение: если вы проживаете вне г.Омск, вы можете договориться с организатором о реверсивном прохождении маршрута (например, 200 км Иртыш-Омск-Иртыш или 300 км Исилькуль-Омск-Исилькуль).
</p>



<h2 class="h4 m-3">Можно ли проехать бревет в другой день?</h2>
<p>
    Календарь бреветов составляются за полгода до начала сезона, согласуется с представителем Audax Club Parisien в России и отправляется в Audax Club Parisien для составления международного календаря BRM. Заезд отдельно от основного старта считается нарушением правил. 
</p>

<h2 class="h4 m-3">Как я узнаю, что бревет действительно зарегистрирован в ACP?</h2>
<p>
    Для того, чтобы получить полную историю своих бреветов с кодами омологации, необходимо пройти регистрацию на сайте <a href="https://inscription.paris-brest-paris.org/">Audax Club Parisien</a>. После этого в графе "Результаты" выбрать клуб "Reaction en chaine (OMSK)", нажать "Поиск". Получите такую выписку: 
</p>
<img class="img-faq-ACP" src="{% static 'brevet/img/ACP_base.png' %}"></img>

{% endblock %}
