.head {
  position: fixed;
  top: 0;
  z-index: 99;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.center {
  margin: auto;
}

mat-icon {
  transform: scale(2);
  margin-left: 20px;
}

.body {
  margin-top: 70px;
}

.footer {
  height: 1px;
}

mat-card {
  max-width: 500px;
  margin: auto auto 10px;
  background-color: #f5f5f5 !important;
  padding: 16px 0 0 0;
}

mat-card:hover {
  box-shadow: 0 10px 5px -5px rgba(34, 60, 80, 0.6);
}

mat-card-title, mat-card-subtitle {
  margin-left: 70px;
  margin-top: 5px !important;
}

mat-card-subtitle {
  margin-bottom: 0 !important;
}

mat-card-content {
  text-align: center;
}

.openMap {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #707070;
}

.km_text {
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  width: 40px;
  top: 13px;
  left: 0;
  transform: rotate(-45deg);
}

.km_triangle {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 30px solid transparent;
  border-radius: 4px 0 0 0;
}

.cdk-overlay-pane {
  max-width: 5000px !important;
  max-height: 5000px !important;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}
