<mat-toolbar class="head" color="primary">
  <div class="center">
    <mat-form-field appearance="fill">
      <mat-label>Год</mat-label>
      <mat-select (selectionChange)="selectYear(year)" [(value)]="year">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <a (click)="showTotalResults(year)" title="Результаты за год">
      <mat-icon>analytics</mat-icon>
    </a>&nbsp;
    <a (click)="showStatistics(year)" title="Статистика за год">
      <mat-icon>insights</mat-icon>
    </a>
  </div>
</mat-toolbar>
<div *ngIf="emptyBrevetsData !== true" class="body">
  <mat-card *ngFor="let brevet of brevetsData" class="card">
    <div [style.border-left-color]='colors[brevet.distance]' [style.border-top-color]='colors[brevet.distance]'
         class="km_triangle"></div>
    <div class="km_text">
      {{brevet.distance}}
    </div>
    <mat-card-title>
      {{brevet.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{brevet.status}}
      <a (click)="dialogShowResult(brevet.route, brevet.index, brevet.distance)"
         *ngIf="brevet.status === 'Заезд завершен.'">
        Результаты
      </a>
    </mat-card-subtitle>
    <a (click)="showRoute(year, brevet.route)" title="Карта маршрута">
      <mat-icon class="openMap">keyboard_arrow_right</mat-icon>
    </a>
    <mat-card-content>
      <hr *ngIf="brevet.description">&nbsp;
      {{brevet.description}}
    </mat-card-content>
  </mat-card>
</div>
<div class="footer "></div>
<div *ngIf="emptyBrevetsData === true" class="body">
  нет данных
</div>
