{% extends "registration/registration_base.html" %}

{% block title %}
    Смена пароль |
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <h3 class="mb-3 fw-normal">Смена пароля</h3>

        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}

        <div class="form-floating">
            <input type="password" name="old_password"  class="form-control mb-2" id="floatingCurrentPassword" autocomplete="current-password" placeholder="password">
            <label for="floatingCurrentPassword">Старый пароль</label>
        </div>
        {{ form.old_password.errors }}

        <div class="form-floating">
            <input type="password" name="new_password1"  class="form-control joined_field_upper" id="floatingPassword1" autocomplete="new-password" placeholder="password">
            <label for="floatingPassword1">Новый пароль</label>
        </div>
        {{ form.new_password1.errors }}
        <div class="form-floating">
            <input type="password" name="new_password2" class="form-control joined_field_lower" id ="floatingPassword2" autocomplete="new-password" placeholder="password"> 
            <label for="floatingPassword2">Подтверждение</label>
            </div>
        {{ form.new_password2.errors }}

        <button class="w-100 btn btn-lg btn-primary" type="submit">Сменить пароль</button>

    </form>
{% endblock %}