{% extends "registration/registration_base.html" %}

{% block title %}
  Вход | 
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h3 class="mb-3 fw-normal">Вход</h3>
    {% if form.errors %}
    <label class="mb-2">
      Введены неверные имя пользователя или пароль. 
      <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </label>
    {% endif %}

    <div class="form-floating">
      <input type="email" name="username"  class="form-control joined_field_upper" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email </label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control joined_field_lower" id ="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Пароль</label>
    </div>
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember_me"> Запомнить пользователя
      </label>
    </div> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
  </form>
  <a class="w-100 btn btn-lg btn-secondary my-2" href="{% url 'signup' %}">Зарегистрироваться</a>

{% endblock %}