{% extends "registration/registration_base.html" %}

{% block title %}
  Вход | 
{% endblock %}

{% block head %}
<script src="https://vk.com/js/api/openapi.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h3 class="mb-3 fw-normal">Вход</h3>
    {% if form.errors %}
    <p class="mb-2">
      Введены неверные имя пользователя или пароль. 
      <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    </p>
    {% endif %}

    <div class="form-floating">
      <input type="email" name="username"  class="form-control joined_field_upper" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email </label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control joined_field_lower" id ="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Пароль</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
  </form>
  <!--VK OAUTH2-->
  <script type="text/javascript">
    var vkAppId = "{{ SOCIAL_AUTH_VK_OPENAPI_APP_ID }}";
    if (vkAppId) {
        VK.init({ apiId: vkAppId });
    }
    function authVK () {
        if (!vkAppId) {
            alert ("Please specify VK.com APP ID in your local settings file");
            return false;
        }
        VK.Auth.login(function(response) {
            var params = "";
            if (response.session) {
                params = "first_name=" + encodeURI(response.session.user.first_name) + "&last_name=" + encodeURI(response.session.user.last_name);
                params += "&nickname=" + encodeURI(response.session.user.nickname) + "&id=" + encodeURI(response.session.user.id);
            }
            window.location = "{% url 'social:begin' 'vk-openapi' %}?" + params;
        });
        return false;
    }
  </script>
  <a class="w-100 btn btn-lg btn-primary my-2" href="#" onclick="authVK();">Войти через VK</a>
  <!--/VK OAUTH2-->
  <a class="w-100 btn btn-lg btn-secondary my-2" href="{% url 'signup' %}">Зарегистрироваться</a>


{% endblock %}