{% extends "registration/registration_base.html" %}

{% block title %}
    Сброс пароля | 
{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <!-- <h3 class="h3 mb-3 fw-normal">Введите email для сброса пароля</h3> -->
    {% if form.email.errors %}
      <label class="my-2">
        {{ form.email.errors }}
      </label>
    {% endif %}
      <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Введите email для сброса пароля</label>
      </div>
      <input class="w-100 btn btn-lg btn-primary my-2" type="submit" value="Сбросить пароль">
  </form>
{% endblock %}