{% extends "registration/registration_base.html" %}

{% block title %}
    Сброс пароля |
{% endblock %}

{% block content %}
    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            <h3 class="mb-3 fw-normal">Сбос пароля</h3>

            <div class="form-floating">
                <input type="password" name="new_password1"  class="form-control joined_field_upper" id="floatingPassword1" autocomplete="new-password">
                <label for="floatingPassword1">Новый пароль</label>
            </div>
            {% for error in form.new_password1.errors %}
                {{ error }}
            {% endfor %}
            <div class="form-floating">
                <input type="password" name="new_password2" class="form-control joined_field_lower" id ="floatingPassword2" autocomplete="new-password"> 
                <label for="floatingPassword2">Подтверждение</label>
                </div>
            {% for error in form.new_password2.errors %}
                {{ error }}
            {% endfor %}

            <button class="w-100 btn btn-lg btn-primary" type="submit">Сменить пароль</button>

        </form>
    {% else %}
        <h4 class="mb-3 fw-normal">
            Невозможно сбросить пароль
        </h4>
        <p>
            Возможно, вы уже проходили по этой ссылке.
        </p>
        <p>
            <a href="{% url 'password_reset' %}">Попробовать еще раз?</a>
        </p>
    {% endif %}
{% endblock %}