{% extends "base.html" %}

{% block title %}
    Бревет 
    {{ route.distance }} км | 
    {% if event.name %}
        {{ event.name }} |
    {% else %}
        {{ route.name }} |
    {% endif %}
    {{ event.get_date }}
{% endblock %}

{% block content %}
    <h4 class="text-muted my-3">Бревет {{ route.distance }} км</h4>    
    {% if event.name %}
        <h2 class="my-3">
            {{ event.name }}
        </h2>
    {% endif %}
    <h2 class="my-3">
        {{ route.name }}
    {% if user.is_superuser %}
        <a class="btn btn-light" href="{{ event.get_admin_url_change }}">   
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        </a>
        <a class="btn btn-light" href="{{ event.get_admin_url_delete }}">   
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>
    {% endif %}
    </h2>



    {% if event.text_intro %}
    <p class = "my-3">{{ event.text_intro }}</p>
    {% endif %}
    
    <p class = "my-3">
    {% if event.finished %}
        Старт состоялся {{ event.get_date }} в {{ event.get_time }}. 
        {% if default_club %}
            Протокол доступен по <a href="{{ event.get_protocol_url }}">ссылке</a>. 
        {% endif %}
    {% else %}
        Старт {{ event.get_date }} в {{ event.get_time }}.
    {% endif %}
    </p>

    {% if event.route.get_controls %}
        <ul class = "my-3">
            {% for line in event.route.get_controls %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if route.map_embed_src %}
        <div>
            <iframe src="{{ route.map_embed_src }}&elevationDiagram=false&hideName=true&u=m" width="100%" height = "600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    {% endif %}
    
    {% if event.get_text %}
        {% for line in event.get_text %}
        <p class = "my-3">{{ line }}</p>
        {% endfor %}
    {% endif %}

    {% if event.warning_text %}
        <div class = "alert alert-danger my-3">
            {{ event.warning_text }}
        </div>
    {% endif %}

    {% if event.lights_required %}
        <div class = "alert alert-danger my-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Маршрут предполагает движение по дорогам общего пользования в тёмное время суток.
            Передний и задний свет обязателен. 
            Желательно иметь светоотражающий жилет.
            Участники без переднего и заднего света к старту не допускаются.
        </div>
    {% endif %}


    {% if event.omskvelo_xref %}
    <a class="btn btn-dark"  href="{{ event.omskvelo_xref }}">
        Форум
    </a>
    {% endif %}

    {% if event.vk_xref %}
    <a class="btn btn-dark"  href="{{ event.vk_xref }}">
        vk
    </a>
    {% endif %}

    {% if route.gpx %}
    <a class="btn btn-dark"  href="{{ route.gpx.url }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
        gpx
    </a>
    {% endif %}

    {% if route.pdf %}
    <a class="btn btn-dark"  href="{{ route.pdf.url }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
        pdf
    </a>
    {% endif %}

    {% if route.external_xref %}
    <a class="btn btn-dark"  href="{{ route.external_xref }}">
        Внешний ресурс
    </a>
    {% endif %}

    {% if not event.finished %}
        <h3>Кто едет?</h3>
        {% include 'brevet_database/event_participants.html' %}
        {% include 'brevet_database/event_application.html' %}
        {% include 'brevet_database/event_form.html' %}
    {% endif %}

{% endblock %}