{% if event.get_applications %}
<ul>
    {% for application in event.get_applications %}
        <li>
            {% if application.user == user %}<strong>{% endif %}
                {% if application.user.randonneur %}
                    <a href="{{ application.user.randonneur.get_absolute_url }}">
                        {{ application.user.randonneur }}
                    </a>
                {% else %}
                    {{ application.user.get_display_name }}
                {% endif %}
                {% if application.result %}
                    - {{application.result.get_time}}
                    {% if application.result.medal %}
                        &#127941;<!--Medal emoji-->
                    {% endif %}
                {% elif application.dnf %}
                    - DNF
                {% elif application.dns %}
                    - DNS
                {% elif application.dsq %}
                    - DSQ
                {% elif application.otl %}
                    - OTL
                {% else %}  
                    {% if application.payment %}
                        &#128179; <!--Payment processed emoji-->
                    {% endif %}
                {% endif %}

            {% if application.user == user %}</strong>{% endif %}

            {% if user.is_superuser %}
                <small>
                    <a href="{{ application.get_admin_url_change }}">   
                        (править)
                    </a>
                </small>
            {% endif %}
        </li>
    {% endfor %}
    <p class="mt-2 mb-0">
        Всего участников: 
        <strong>
            {{ event.get_applications|length }}
        </strong>
    </p>

    {% if not event.application_allowed %}
        <p class="my-0">
            Финишировали: 
            <strong>
                {{ event.get_finisher_count }}
            </strong>
        </p>
        <p class="my-0">
            В пути: 
            <strong>
                {{ event.get_moving_count }}
            </strong>
        </p>
        {% if event.get_dsq_count %}
            <p class="my-0">
                Дисквалифицированы (DSQ):
                <strong>
                    {{ event.get_dsq_count }}
                </strong> 
            </p>
        {% endif %}
        {% if event.get_otl_count %}
            <p class="my-0">
                Не уложились в лимит по времени (OTL): 
                <strong>
                    {{ event.get_otl_count }}
                </strong>
            </p>
        {% endif %}
        {% if event.get_dns_count %}
            <p class="my-0">
                Не стартовали (DNS): 
                <strong>
                    {{ event.get_dns_count }}
                </strong>
            </p>
        {% endif %}
        {% if event.get_dnf_count %}
            <p class="my-0">
                Сошли (DNF): 
                <strong>
                    {{ event.get_dnf_count }}
                </strong>
            </p>
        {% endif %}
    {% endif %}

</ul>
{% else %}
    <p>
        Пока никто.
    </p>
{% endif %}