{% if event.get_applications %}
<ul>
    {% for application in event.get_applications %}
        <li>
            {% if application.user == user %}
                <strong> 
                    {{ user.get_display_name }}
                    {% if application.result %}
                    - {{application.result.get_time}}
                    {% endif %}

                    {% if application.dnf %}
                        - DNF
                    {% endif %}
                    {% if application.result.medal %}                   	
                        &#127941;<!--Medal emoji-->
                    {% endif %}
                </strong>
            {% else %}
                {{ application.user.get_display_name }}
                
                {% if application.result %}
                    - {{application.result.get_time}}
                {% endif %}

                {% if application.dnf %}
                    - DNF
                {% endif %}
                {% if application.result.medal %}
                    &#127941;<!--Medal emoji-->
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>
        Пока никто.
    </p>
{% endif %}