{% if event.get_applications %}
<ul>
    {% for application in event.get_applications %}
        <li>
            {% if application.user == user %}<strong>{% endif %}
                {% if application.user.randonneur %}
                    <a href="{{ application.user.randonneur.get_absolute_url }}">
                        {{ application.user.randonneur }}
                    </a>
                {% else %}
                    {{ application.user.get_display_name }}
                {% endif %}
                
                {% if application.result %}
                    - {{application.result.get_time}}
                    {% if application.result.medal %}
                        &#127941;<!--Medal emoji-->
                    {% endif %}
                {% elif application.dnf %}
                    - DNF
                {% else %}  
                    {% if application.payment %}
                        &#128179; <!--Payment processed emoji-->
                    {% endif %}
                {% endif %}

            {% if application.user == user %}</strong>{% endif %}


            
            {% if user.is_superuser %}
                <small>
                    <a href="{{ application.get_admin_url_change }}">   
                        (править)
                    </a>
                </small>
            {% endif %}
        </li>
    {% endfor %}
    <p class="mt-2">
        Всего участников: {{ event.get_applications|length }}
    </p>
</ul>
{% else %}
    <p>
        Пока никто.
    </p>
{% endif %}