{% if route.get_controls %}
    <ul class = "my-3">
        {% for line in route.get_controls %}
            <li>{{ line }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if route.map_embed_src %}
    <div>
        <iframe src="{{ route.map_embed_src }}&elevationDiagram=false&hideName=true&u=m" width="100%" height = "600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
{% endif %}

{% if route.gpx %}
    <a class="btn btn-dark" href="{{ route.gpx.url }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
        gpx
    </a>
{% endif %}

{% if route.pdf %}
    <a class="btn btn-dark" href="{{ route.pdf.url }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
        pdf
    </a>
{% endif %}

{% if route.external_xref %}
    <a class="btn btn-dark" href="{{ route.external_xref }}">
        Внешний ресурс
    </a>
{% endif %}

<a class="btn btn-dark" href="{{ route.get_stats_url }}">
    Статистика маршрута
</a>