{% extends "base.html" %}

{% block title %}
Результаты | 
{% endblock %}

{% block content %}
    <h2 class="m-5"> Протоколы бреветов за {{year}} год</h2>
    <table class="table table-striped table-hover">
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    <a width="100%" href="{{ event.get_protocol_url }}">
                        Протокол бревета 
                        {{event.route.distance}} км от {{event.date_}} г. 
                        {% if event.route.name %}
                        - {{ event.route.name }}
                        {% endif %}
                        {% if event.name %}
                        - {{ event.name }}
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="my-4">
        {% for y in years %}
            {% if year == y %}
            <a class="btn btn btn-dark" style = "background-color: #1D3652;" href="{% url 'result_root_pages' y %}">
                {{ y }}
            </a>
            {% else %}
            <a class="btn btn-light" href="{% url 'result_root_pages' y %}">
                {{ y }}
            </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}