{% extends "base.html" %}

{% block css %}
{% load static %}
<style>
    #prev-brev {
        background-image: 
            linear-gradient(to bottom, rgba(50, 50, 0, 0.3), rgba(29, 54, 83, 0.7)),
            url("{% static 'brevet/img/cover_prev.jpg' %}");

      }

</style>
{% endblock %}

{% block cover %}
    Следующий бревет
{% endblock %}

{% block content %}

    {% if event %}
        <section class="next">
            <h2 class="h3 my-3">
                {{event.route.name}} 
                <small class="text-muted">
                    {{event.route.distance}} км
                </small>
            </h2>
            <div class="index__next__container">
                <div class="index__next__item" id="route">
                    {% if event.name %}
                        <h3 class="h4">
                            {{ event.name }}
                        </h3>
                    {% endif %}
                    <p>Старт {{ event.get_date }} в {{ event.get_time }}.</p>

                    {% if event.route.get_controls %}
                        <ul class = "my-3">
                            {% for line in event.route.get_controls %}
                                <li>{{ line }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if event.route.map_embed_src %}
                        <div>
                            <iframe src="{{ event.route.map_embed_src }}&elevationDiagram=false&hideName=true&u=m" width="100%" height = "300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    {% endif %}
                    <a class="btn btn-dark mt-2" href="{{ event.get_absolute_url }}">
                        Подробнее...
                    </a>
                    {% if event.route.gpx %}
                        <a class="btn btn-dark mt-2" href="{{ event.route.gpx.url }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                            gpx
                        </a>
                    {% endif %}
                </div>
                <div class="index__next__item" id="participants">
                    <h3 class="h4">Кто едет?</h3>
                    {% include 'brevet_database/event_participants.html' %}
                    {% include 'brevet_database/event_application.html' %}
                </div>
                {% if not event.application_allowed and not application.result and user.randonneur and user in event.get_applicants %}
                    <div class="index__next__item" id="result">
                        {% include 'brevet_database/event_form.html' %}
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}

    {% if prev_event %}
<!-- Bodge: the next /div closes container opened in base.html. It is reopened later-->
</div>
<div class="cover" id="prev-brev">
    <h2 class="h-cover">
        Предыдущий бревет
    </h2>
</div>
<div class="container-body">
<!-- /bodge-->
    <section class="prev">
            <!-- <h2 class="mt-3">Предыдущий бревет</h2> -->
            <h3 class="h3 my-3">
                {{prev_event.route.name}} 
                <small class="text-muted">
                    {{prev_event.route.distance}} км
                </small>
            </h3>
            {% if prev_event.name %}
                <h4 class="h4 my-3">
                    {{ prev_event.name }}
                </h4>
            {% endif %}
            <p class="my-1">
                Старт состоялся <a href="{{ prev_event.get_absolute_url }}"> {{ prev_event.get_date }} г. в {{ prev_event.get_time }}</a>.
            </p>
            {% if results %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Рандоннёр</th>
                            <th>Время</th>
                            <th>
                                <div class="d-none d-md-block">
                                    Медаль
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result.homologation }}</td>
                                <td>
                                    <a href="{{ result.randonneur.get_absolute_url }}">
                                        {{ result.randonneur }}
                                    </a>
                                </td>
                                <td>{{ result.get_time }}</td>
                                <td>
                                    <div class="d-none d-md-block">
                                        {% if result.medal %} 
                                            &#127941;<!--Medal emoji--> 
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p> 
                    Результаты отсутствуют.
                </p>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}