{% extends "base.html" %}

{% block css %}
{% load static %}
<style>
    #prev-brev {
        background-image: 
            linear-gradient(to bottom, rgba(50, 50, 0, 0.3), rgba(29, 54, 83, 0.7)),
            url("{% static 'brevet/img/cover_prev.jpg' %}");

      }

</style>
{% endblock %}

{% block cover %}
    Следующий бревет
{% endblock %}

{% block content %}
    <h1 class="only-print">Следующий бревет</h1>
    {% if next_events %}
        {% for next in next_events %}
            {% with event=next.event application=next.application form=next.form errors=next.errors %}
                <section class="next">
                    <h2 class="h3 my-3">
                        {{ event.route.name }} 
                        <small class="text-muted">
                            {{ event.route.distance }} км
                        </small>
                    </h2>
                    <div class="index__next__container">
                        <div class="index__next__item" id="route">
                            {% if event.name %}
                                <h3 class="h4">
                                    {{ event.name }}
                                </h3>
                            {% endif %}
                            <p>Старт {{ event.get_date }} в {{ event.get_time }}.</p>

                            {% if event.route.get_controls %}
                                <ul class = "my-3">
                                    {% for line in event.route.get_controls %}
                                        <li>{{ line }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if event.route.map_embed_src %}
                                <div>
                                    <iframe src="{{ event.route.map_embed_src }}&elevationDiagram=false&hideName=true&u=m" width="100%" height = "300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                </div>
                            {% endif %}

                            {% if event.payment_info %}
                                <div class="alert alert-primary my-3">
                                    {{ event.payment_info.text }}
                                </div>
                            {% endif %}

                            <a class="btn btn-dark mt-2" href="{{ event.get_absolute_url }}">
                                Подробнее...
                            </a>
                            {% if event.route.gpx %}
                                <a class="btn btn-dark mt-2" href="{{ event.route.gpx.url }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                    </svg>
                                    gpx
                                </a>
                            {% endif %}
                            {% if user.is_superuser %}
                                <a class="btn btn-light mt-2" href="{{ event.get_admin_url_change }}">   
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                        <div class="index__next__item" id="participants">
                            <h3 class="h4">Кто едет?</h3>
                            {% include 'brevet_database/event_participants.html' %}
                            {% include 'brevet_database/event_application.html' %}
                        </div>
                        {% if not event.application_allowed and not application.result and user.randonneur and user in event.get_applicants %}
                            <div class="index__next__item" id="result">
                                {% include 'brevet_database/event_form.html' %}
                            </div>
                        {% endif %}
                    </div>
                </section>
            {% endwith %}
        {% endfor %}
    {% else %}
        <h2 class="h3 my-3"> Запланированных бреветов нет </h2>
        <p>
            Бреветы были, да все вышли :) Мы уже проехали все бреветы, запланированные в календаре на этот год. Ничего страшного, скоро будет новый календарь и новый сезон! 
        </p>
    {% endif %}

    {% if prev_events %}

        <!-- Bodge: the next /div closes container opened in base.html. It is reopened later-->
        </div>
        <div class="cover no-print" id="prev-brev">
            <h2 class="h-cover">
                Предыдущий бревет
            </h2>
        </div>
        <div class="container-body">
        <h1 class="only-print">Предыдущий бревет</h1>
        <!-- /bodge-->

        {% for prev in prev_events %}
            {% with event=prev.event results=prev.results %}
                <section class="prev">
                    <h3 class="h3 my-3">
                        {{event.route.name}} 
                        <small class="text-muted">
                            {{event.route.distance}} км
                        </small>
                    </h3>
                    {% if event.name %}
                        <h4 class="h4 my-3">
                            {{ event.name }}
                        </h4>
                    {% endif %}
                    <p class="my-1">
                        Старт состоялся <a href="{{ event.get_absolute_url }}"> {{ event.get_date }} г. в {{ event.get_time }}</a>.
                    </p>
                    {% if results %}
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Рандоннёр</th>
                                    <th>Время</th>
                                    <th>
                                        <span class="not-mobile">
                                            Медаль
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in results %}
                                    <tr>
                                        <td>{{ result.homologation }}</td>
                                        <td>
                                            <a href="{{ result.randonneur.get_absolute_url }}">
                                                {{ result.randonneur }}
                                            </a>
                                        </td>
                                        <td>{{ result.get_time }}</td>
                                        <td>
                                            {% if result.medal %} 
                                                &#127941;<!--Medal emoji--> 
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p> 
                            Результаты отсутствуют.
                        </p>
                    {% endif %}
                </section>
            {% endwith %}
        {% endfor %}
    {% endif %}
{% endblock %}