{% extends "base.html" %}
{% load static %}

{% block title %}
Протокол бревета {{ event.route.distance }} км от {{ event.get_date }} г. | 
{% endblock %}

{% block cover %}
    Протокол бревета {{ event.route.distance }} км "{{ event.route.name }}"
{% endblock %}

{% block content %}
    <h3 class="text-center my-5 only-print">
        Протокол бревета {{ event.route.distance }} км от {{ event.get_date }} г.
    </h3>

    <h2 class="text-center my-4">
    {% if event.name %}
        {{ event.name }}
    {% endif %}
    </h2>

    {% include 'brevet_database/protocol_upload_form.html' %}

    <p class="my-1">
        Старт состоялся <a href="{{ event.get_absolute_url }}"> {{ event.get_date }} г. в {{ event.get_time }}</a>.
    </p>
    {% if event.route.name %}
    <p class="my-1">
        Маршрут: <a href="{{ event.route.get_absolute_url }}"> "{{ event.route.name }}" </a>
    </p>
    {% endif %}
    {% if event.route.fleche and event.fleche_distance %}
        <p class="my-1">
            Фактически пройдено: {{event.fleche_distance}} км.
        </p>
    {% endif %}
    {% if event.club %}
    <p class="my-1">
        Клуб-организатор: {{ event.club }}
    </p>
    {% endif %}
    {% if results %}
        <table class="table table-striped table-hover table-sort">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Рандоннёр</th>
                    <th>Время</th>
                    <th>
                        <div class="d-none d-md-block">
                            Медаль
                        </div>
                    </th>
                    {% if user.is_superuser %}
                    <th class="no-print"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.homologation }}</td>
                        <td>
                            <a href="{{ result.randonneur.get_absolute_url }}">
                                {{ result.randonneur }}
                            </a>
                        </td>
                        <td>{{ result.get_time }}</td>
                        <td>
                            <div class="d-none d-md-block">
                                {% if result.medal %} &#127941;<!--Medal emoji--> {% endif %}
                            </div>
                        </td>
                        {% if user.is_superuser %}
                            <td class="no-print" width="120">
                                <a class="btn btn btn-light" href="{{ result.get_admin_url_change }}">   
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                                <a class="btn btn btn-light" href="{{ result.get_admin_url_delete }}">   
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if event.responsible %}
                    <tr>
                        <td colspan = "2" class="text-center">Ответственный организатор</td>
                        <td colspan = "2">{{ event.responsible }}</td>
                        {% if user.is_superuser %}
                            <td class="no-print" width="120">
                                <a class="btn btn btn-light" href="{{ results.0.get_admin_url_add }}">   
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            </tfoot>
        </table>

        {% if event.route.brm %}
            <div class="no-print">
                <a class="btn btn-dark" href="{{ event.get_protocol_xlsx_url }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                    </svg>
                    xlsx
                </a>
            </div>
        {% endif %}
        <div class="d-flex justify-content-end">
            <img class = "img-stamp" src="{% static 'brevet/img/stamp.png' %}"/>
        </div>

    {% endif %}

{% endblock %}