{% extends "base.html" %}

{% block title %}
Протокол бревета {{ route.distance }} км от {{ date }} г. | 
{% endblock %}

{% block content %}
    <h3 class="text-center my-5">
        Протокол бревета {{ route.distance }} км от {{ date }} г.
    </h3>

    <h2 class="text-center my-4">
    {% if event.name %}
        {{ event.name }}
    {% endif %}
    </h2>


    <p class="my-1">
        Старт состоялся <a href="{{ event.get_absolute_url }}"> {{ date }} г. в {{ time }}</a>.
    </p>
    {% if route.name %}
    <p class="my-1">
        Маршрут: <a href="{{ route.get_absolute_url }}"> "{{ route.name }}" </a>
    </p>
    {% endif %}
    {% if results %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Омологация</th>
                    <th>Рандоннёр</th>
                    <th>Время</th>
                    <th>Медаль</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.homologation }}</td>
                        <td>
                            <a href="{{ result.randonneur.get_absolute_url }}">
                                {{ result.randonneur }}
                            </a>
                        </td>
                        <td>{{ result.time_ }}</td>
                        <td>{% if result.medal %} М {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if event.responsible %}
                    <tr>
                        <td colspan = "2" class="text-center">Ответственный организатор</td>
                        <td colspan = "2">{{ event.responsible }}</td>
                    </tr>
                {% endif %}
            </tfoot>
        </table>
        {% load static %}
        <div class="d-flex justify-content-end">
            <img src="{% static 'img/stamp.png' %}"/>
        </div>
    {% else %}
        <p>Результаты отсутствуют.</p>
    {% endif %}

{% endblock %}