{% extends "base.html" %}

{% block title %}
{{ route.name }} {{ route.distance }} км | 
{% endblock %}

{% block content %}
    <h2 class="my-5 mx-3">{{ route.name }}</h2>
    <h4 class="text-muted my-3 mx-3">{{ route.distance }} км </h4>

    {% if route.get_controls %}
        <ul class = "my-3">
            {% for line in route.get_controls %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if route.map_embed_src %}
        <div  >
            <iframe src="{{ route.map_embed_src }}" width="50%" height = "400"></iframe>
        </div>
    {% endif %}
    
    {% if route.image %}
        <img src="{{ route.image.url }}" class = "m-3"/>
    {% endif %}

    {% if route.get_text %}
        {% for line in route.get_text %}
        <p class = "my-3">{{ line }}</p>
        {% endfor %}
    {% endif %}

    {% if route.gpx %}
    <a class="btn btn btn-dark" style = "background-color: #1D3652;" href="{{ route.gpx.url }}">
        *.gpx
    </a>
    {% endif %}

    {% if route.pdf %}
    <a class="btn btn btn-dark" style = "background-color: #1D3652;" href="{{ route.pdf.url }}">
        *.pdf
    </a>
    {% endif %}

    {% if route.external_xref %}
    <a class="btn btn btn-dark" style = "background-color: #1D3652;" href="{{ route.external_xref }}">
        Внешний ресурс
    </a>
    {% endif %}
{% endblock %}