{% extends "base.html" %}

{% block title %}
Маршруты | 
{% endblock %}

{% block cover %}
    Маршруты
    {% if user.is_superuser %}
        <a class="btn btn-light" href="{{ routes.0.get_admin_url_add }}">   
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
        </a>
    {% endif %}
{% endblock %}


{% block content %}
<h1 class="only-print">Маршруты</h1>

<div class="my-4">
    {% for d in distances %}
        {% if distance == d %}
        <a class="btn btn-dark" href="{% url 'route_index_distance' d %}">
            {{ d }}
        </a>
        {% else %}
        <a class="btn btn-light" href="{% url 'route_index_distance' d %}">
            {{ d }}
        </a>
        {% endif %}
    {% endfor %}
</div>

<ul class="row row-cols-auto route-list">
    {% for route in routes %}
        <li class="col my-3">
            <div class="route-card" style="background-image: 
                linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.35)),
                url('{{route.image.url}}');">
                <a class="h4 route-card-title" href="{{ route.get_absolute_url }}">
                    {{ route.name }}
                    <small>
                        {{ route.distance }} км
                    </small>
                </a>
            </div>
            {% if route.text_brief %}
            <p class="route-card-caption">
                {{ route.text_brief }}
            </p>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}