{% extends "brevet_database/base.html" %}

{% block title %}
{{ route.name }} {{ route.distance }} км | 
{% endblock %}

{% block content %}
    <h2 class="m-3">{{ route.name }} {{ route.distance }} км</h2>
    <h4 class="text-muted m-3">Описание маршрута</h4>

    {% if controls %}
        <ul class = "my-3">
            {% for line in controls %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if route.map_embed_src %}
    <div class="ratio ratio-4x3">
        <iframe src="{{ route.map_embed_src }}"></iframe>
    </div>
    {% endif %}
    
    {% if route.image %}
        <img src="{{ route.image.url }}" class = "m-3"/>
    {% endif %}

    {% if text %}
        {% for line in text %}
        <p class = "my-3">{{ line }}</p>
        {% endfor %}
    {% endif %}

    {% if route.gpx %}
        <div class = "my-3">
            <a href="{{ route.gpx.url }}" class = "m-3">Скачать трек *.gpx</a>
        </div>
    {% endif %}

    {% if route.pdf %}
        <div class = "my-3">
            <a href="{{ route.gpx.pdf }}" class = "m-3">Скачать легенду *.pdf</a>
        </div>
    {% endif %}

    {% if route.external_xref %}
        <div class="my-3">
            <a href="{{ route.external_xref }}" class = "m-3">Ссылка на внешний ресурс</a>
        </div>
    {% endif %}
{% endblock %}