{% extends "base.html" %}
{% load static %}

{% block title %}
Рандоннёры | 
{% endblock %}

{% block cover %}
    Рандоннёры "Цепной Реакции"
{% endblock %}

{% block content %}
    <h1 class="only-print">Рандоннёры "Цепной Реакции"</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Рандоннёр</th>
                <th>Общая дистанция</th>
                <th>Бреветов</th>
                <th class="not-mobile">Суперрандоннёр</th>
            </tr>
        </thead>
        <tbody>
            {% include 'brevet_database/hx_stats_personal_index_page.html' %}
        </tbody>
    </table>
    <div class="loader">
        <img class="htmx-indicator" src="{% static 'brevet/svg/loader.svg'%}"></img>
    </div>

{% endblock %}