table {
  width: 100%;
}

td {
  padding: 10px !important;
}

.button-container {
  margin-left: auto;
}

.no-result {
  padding: 10px;
}

.table-container {
  max-height: 500px;
  overflow: auto;
}

.amount {
  padding: 5px 5px 5px 10px;
  background-color: #f5f5f5;
  text-align: center;
}
