a {
  color: rgb(50, 50, 50);
}

a:hover {
  color: rgb(0, 0, 0);
}

:root {
  --cr-blue: rgb(29, 54, 82);
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container-nav {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  padding: 20px min(10%, 192px);
}

.container-top {
  padding-bottom: 0;
}

.container-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__brand {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.header__titles {
  display: block;
  text-decoration: none;
}

.header__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:100px;
}

.header__title {
  font-family: 'Russo One', sans-serif;
  font-size: 32px;
  line-height: 38.4px;
  color: #FFF;
}

.header__desc {
  font-family: 'Russo One', sans-serif;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #FFF;
}

.navbar-toggler-icon {
  font-size: 1.0em;
}

.nav-item {
  padding: 8px 0 8px 0;
  margin: 0;
  white-space:nowrap;
  color: rgba(255,255,255);
}

.nav-item:not(:last-child) {
  margin-right: 16px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}


.navbar-external-user {
  justify-content: flex-end;
} 

.navbar-toggler{
  border-color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-toggler:focus{
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.8) !important;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.dropdown-menu {
  background: none;
  border: none;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.8);
}

.dropdown-item:hover {
  color: rgba(255, 255, 255);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.3em;
}

.cover {
  display: flex; 
  flex-direction: column;
  min-height: 500px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  color: #FFF;
  background-size:cover;
}

.h-cover {
  font-family: 'Russo One', sans-serif;
  font-size: 64px;
  padding: 10px min(10%, 192px);
  margin-top: auto;
  margin-bottom: 0;
}

.container-body {
  display: block;
  margin: 0 auto;
  max-width: 1920px;
  padding: 20px min(10%, 192px);
}

.btn-dark {
  background-color: var(--cr-blue);
  border-color: var(--cr-blue);
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active
{
  background-color: #366496;
  border-color: #366496;
}

.btn-light:hover, .btn-light:focus, .btn-light:active
{
  background-color: #DAE6F2;
  border-color: #DAE6F2;
}

.form-send-result {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0;
}

.form-send-result .form-floating:focus-within {
  z-index: 2;
}

.index__next__container {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}

.index__next__item {
  width: 100%;
  max-width: 600px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.index__next__item:last-child {
  padding-right: 0px;
}

.event__brief{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.event__brief__item {
  width: 100%;
  max-width: 600px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.ievent__brief__item:last-child {
  padding-right: 0px;
}

.error_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  width: 40%;
}

.card-brm {
  width: 20rem; 
  background-repeat: no-repeat;
  background-position: top 0px right 0px;
}

.route-list {
  list-style: none;
  padding: 0;
}

.route-card {
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  height: 20rem;
  width: 20rem;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  border-radius: 5px;
}

.route-card-title {
  color: #FFF;
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
  margin-top:auto;
  margin-bottom: 0;
  padding: 8px;
}

.route-card-title:hover {
  color: #DDF;
}

.route-card-title small {
  display: block;
  margin: 0;
}

.route-card-caption {
  padding: 8px;
  width: 20rem;
}

.img-stamp {
  width: 30%;
  max-width: 199px;
  height: auto;
}

.img-faq-ACP {
  width: 100%;
  max-width: 776px;
}

.strava-badge- { 
  display: inline-block; 
  height: 32px; 
}

.strava-badge- img { 
  visibility: hidden; 
  height: 32px; 
}

.strava-badge-:hover { 
  background-position: 0 -47px; 
}

.strava-badge-follow { 
  height: 32px; 
  width: 32px; 
  background: url(//badges.strava.com/echelon-sprite-32.png) no-repeat 0 0; 
}

.hidden {
  display: none;
}

.row-button {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: none !important;
}

.container-chart {
  height: 350px;
  width: auto;
}

@media screen and (max-width: 1210px) {
  .nav-item:not(:last-child) {
  margin-right: 8px;
  }

  .index__next__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'route participants'
    'result participants'
    '. participants'
    ;
  }

  .index__next__item {
    padding-right: 40px;
  }

  #route {
    grid-area: route;
  }

  #participants {
    grid-area: participants;
  }

  #result {
    grid-area: result;
  }
}

@media screen and (max-width: 992px) {
  .index__next__container {
    display: flex;
    flex-flow: column;
  }

  #route{
    order: 1;
  }

  #participants{
    order: 3;
  }

  #result{
    order: 2;
  }

  .event__brief {
    display: block;
  }

  .h-cover{
    font-size: 48px;
  }

  .cover {
    min-height: 300px;
  }
}

@media screen and (max-width: 600px){
  .h-cover{
    font-size: 32px;
  }

  .cover {
    min-height: 200px;
  }

  .header__title {
    font-size: 28px;
  }

  .header__desc {
    font-size: 18px;
  }

  body, .btn, .dropdown-item {
    font-size: 0.75rem;
  }

  .h1, h1 {
    font-size: 1.1rem;
  }

  .h2, h2 {
    font-size: 1.06rem;
  }

  .h3, h3 {
    font-size: 1.04rem;
  }

  .h4, h4 {
    font-size: 1.02rem;
  }

  .h5, h5 {
    font-size: 1rem;
  }

  .container-chart {
    height: 200px;
    width: auto;
  }
  
}

.only-mobile-table {
  display: none;
}

table small{
  display: block;
}

@media screen and (max-width: 426px){
  .h-cover{
    font-size: 24px;
  }

  .cover {
    min-height: 120px;
  }

  .header__title {
    font-size: 20px;
  }

  .header__desc {
    font-size: 15px;
  }

  .card-brm {
    width: 16rem; 
  }

  .route-card {
    height: 16rem;
    width: 16rem;
  }

  .route-card-caption {
    width: 16rem;
  }

  .table {
    font-size: 0.6rem;
  }

  .table td {
    padding: 0.3rem;
  }

  .only-mobile-table {
    display: table;
  }

  .not-mobile {
    display: none;
  }
}

.only-print{
  display: none;
}

@media print {
  .no-print {
    display: none;
  }

  .only-print {
    display: block;
  }
}


