.brm_200 {
    background-color: #fff1a8;
    border-color: #ffe553;
}

.brm_300 {
    background-color: #deffb3;
    border-color: #bfff6c;
}

.brm_400 {
    background-color:  #d1b6ff;
    border-color:  #b68fff;
}

.brm_600 {
    background-color:  #ffc9ac;
    border-color:  #ffaf85;
}

.brm_1000 {
    background-color:  #cfcfcf;
    border-color:  #adadad;
}