.card-brm {
    width: 20rem; 
    height: 10rem;
}

.brm_200 {
    background-color: #FFED93;
    border-color: #FFD800;
}

.brm_300 {
    background-color: #C0FF9B;
    border-color: #59C615;
}

.brm_400 {
    background-color:  #E1ADFF;
    border-color:  #B73DFF;
}

.brm_600 {
    background-color:  #FFB68E;
    border-color:  #FF8442;
}

.brm_1000 {
    background-color:  #BCBCBC;
    border-color:  #808080;
}