html {
  height: 100%;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

p, h1, h2, h3, h4, h5, li, a, a:hover {
  color: white;
}

p, li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.form-signin {
  width: 100vh;
  min-height: 100vh;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6))
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .joined_field_upper {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .joined_field_lower {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .joined_field_upper_left {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .joined_field_upper_right {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-signin .form-twin {
  display: flex;
  flex-direction: row;
}

.form-signin label.reduced{
  padding-right: 0;
  font-size: 0.75em;
}

.form-floating>.form-control:focus~label.reduced, .form-floating>.form-control:not(:placeholder-shown)~label.reduced, .form-floating>.form-select~label.reduced {
  opacity: .75;
  transform: translateY(-0.5rem);
}